<NavBar />
 <Jumbo>
 <h2>Contact Us</h2>
 <p>Rent places you love to live <br>
  we would love to help you
 </p>
 <address>
  SuperRental HQ
  <p>
   1221 Test Address <br>
   States, 9838
  </p>
  <a href="mailto:Om.pcprakash@gmail.com">om.pcprakash@gmail.com</a>
  <a href="tel:+918095472286">+918095472286</a>
 </address>
</Jumbo>